.width {
  width: 100%;
}
#trickler {
  font-family: Helvetica;
  display: fixed;
  position: fixed;
  top: 10px;
  border: 3px solid black;
  margin: 0 auto;
  bottom: 10px;
  left: 10px;
  right: 10px;
  overflow: scroll;
  box-shadow: #000 0 0 10px;
  border-radius: 3px;
  padding: 0;
}
#trickler .faded img {
  opacity: 0.5;
  z-index: -1000;
}
#trickler .trickler-selected img {
  box-shadow: lightseagreen 0 0 50px 10px;
  z-index: 1000;
  position: relative;
}
#trickler .tScrollDown,
#trickler .tScrollUp {
  position: absolute;
  width: 100%;
  background: transparent;
  font-size: 40px;
  color: transparent;
  text-align: center;
  padding-top: 0px;
  box-sizing: border-box;
  height: 50px;
}
#trickler .tScrollDown:hover,
#trickler .tScrollUp:hover {
  color: #fff;
  background: rgba(33, 33, 33, 0.75);
  cursor: pointer;
}
#trickler .tScrollDown {
  padding-bottom: 5px;
  bottom: 0;
}
#trickler .tScrollUp {
  padding-top: 5px;
  top: 0;
}
#trickler .tricklerRow {
  margin: 0 auto;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}
#trickler .tricklerRow ul {
  width: 100%;
  max-height: 200px;
  padding: 0;
  margin: 0;
}
#trickler .tricklerRow ul li {
  list-style: none;
  display: inline;
  position: relative;
}
#trickler .tricklerRow ul li:hover #overlay {
  display: inline-block;
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  left: 0;
  right: 0;
  bottom: 0;
  height: 204px;
  color: #fff;
}
#trickler .tricklerRow ul li:hover #overlay h3 {
  margin: 5px;
}
#trickler .tricklerRow ul li:hover #overlay h3 a {
  color: #999;
  text-align: center;
  width: 100%;
  display: block;
  text-decoration: none;
}
#trickler .tricklerRow ul li:hover #overlay h3 a:hover {
  color: #fff;
}
#trickler .tricklerRow ul li img {
  cursor: pointer;
  height: 200px;
}
